/* Navabr section media queries */
@media screen and (max-width:1500px) and (min-width:1400px){
    #nav5{
        margin-left: 250px;
    }
}
@media screen and (max-width:1400px) and (min-width:1300px){
    #hamburger .contentB{
        height: 75vh;
    }
    #nav5{
        margin-left: 150px;
    }
}
@media screen and (max-width:1300px) and (min-width:1200px){
    #nav5{
        margin-left: 50px;
    }
    #hamburger .contentB{
        height: 80vh;
    }
    .contentB2, .contentB1, .contentB3A{
        gap: 20px;
    }
}
@media screen and (max-width:1000px) and (min-width:500px){
    #hamburger #menu{
        right: 63px;
        position: fixed;
    }
    #logo{
        margin-left: 75px;
    }
}
@media screen and (max-width:500px) and (min-width:200px){
    #hamburger #menu{
        right: 15px;
        position: fixed;
    }
    #logo{
        margin-left: 10px;
    }
}
@media screen and (max-width:1000px) and (min-width:200px){
    #hamburger .contentB{
        height: 90vh;
        overflow-y: scroll;
    }
    #hide{
        display: flex;
        flex-direction: column;
    }
    #showonmedia{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px
    }
    #showonmedia button{
        text-align:left;
        width: 90vw;
        border-radius: 6px;
        height: 40px;
    }
    #ContentA{
        display: none;
    }
    .content2{
        flex-direction: column;
        padding: 10px 20px;
        gap: 0;
        height: 236px;
        width:90vw;
        border-radius:6px;
        top: 1%;
        position: absolute;
    }
     .content3{
        flex-direction: column;
        padding: 10px 20px;
        gap: 0;
        height: 166px;
        width:90vw;
        border-radius:6px;
        top: 1%;
        position: absolute;
    }

    .content2a, .content2b, .content2c, .content2d{
        height: 50px;
        padding: 20px;
    }
    #Contents{
        display: none;   
    }
    .content3a, .content3b, .content3c, .content3d{
        height: 50px;
    }
    #Nav2a .bar4{
        background-color: #696969;
        height: 1.5px;
        width: 6px;
        transform:translateX(830px)translateY(-10px)rotate(45deg);
    }
    #Nav2a .bar5{
        background-color: #696969;    
        height: 1.5px;
        width: 6px;
        transform:translateX(834px)translateY(-11px) rotate(-45deg);
        
    }
    #Nav5a .bar4{
        background-color: #696969;
        height: 1.5px;
        width: 6px;
        transform:translateX(830px)translateY(-10px)rotate(45deg);
    }
    #Nav5a .bar5{
        background-color: #696969;    
        height: 1.5px;
        width: 6px;
        transform:translateX(834px)translateY(-11px) rotate(-45deg);
        
    }
    #showbutton1, #showbutton2, #showbutton3, #showbutton4, #showbutton5{
        padding-left: 40px;
        width:90vw;
    }
    #showbutton2 button, #showbutton3 button{
        color: #696969;
    }
    #showbutton5 button{
        background-color:#0074cc;
        color: white;
        height: 40px;
        width: 90vw;
        border-radius: 6px;
        border:none;
        font-size: 1.2rem;
        text-align: left;
    }
    #showbutton5 button:hover{
        background-color:#016ec2 ;
        border: none;
    }
    #hamburger .contentB{
    display: flex;
    flex-direction: column;
        gap: 20px;
    }
    .contentB3A{
        padding-left: 0px;
    }
    .contentB3B{
        padding-left: 0px;
    }
}
@media screen and (max-width:1200px) and (min-width:1100px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 5px;
    }
    #hamburger .contentB{
        height: 80vh;
    }
    .contentB2, .contentB1, .contentB3A, .contentB3{
        gap: 20px;
    }
}
@media screen and (max-width:1100px) and (min-width:1000px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }
    #hamburger .contentB{
        height: 80vh;
    }
    .contentB2, .contentB1, .contentB3A, .contentB3{
        gap: 20px;
    }
}
@media screen and (max-width:1000px) and (min-width:955px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }

}
@media screen and (max-width:955px) and (min-width:850px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }
    #Nav2a .bar4{
        transform:translateX(730px)translateY(-10px)rotate(45deg);
    }
    #Nav2a .bar5{
        transform:translateX(734px)translateY(-11px) rotate(-45deg);
    }
    #Nav5a .bar4{
        transform:translateX(730px)translateY(-10px)rotate(45deg);
    }
    #Nav5a .bar5{
        transform:translateX(734px)translateY(-11px) rotate(-45deg);
    }

}
@media screen and (max-width:850px) and (min-width:766px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }
    #Nav2a .bar4{
        transform:translateX(660px)translateY(-10px)rotate(45deg);
    }
    #Nav2a .bar5{
        transform:translateX(664px)translateY(-11px) rotate(-45deg);
    }
    #Nav5a .bar4{
        transform:translateX(660px)translateY(-10px)rotate(45deg);
    }
    #Nav5a .bar5{
        transform:translateX(664px)translateY(-11px) rotate(-45deg);
    }

}
@media screen and (max-width:766px) and (min-width:650px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }
    #Nav2a .bar4{
        transform:translateX(560px)translateY(-10px)rotate(45deg);
    }
    #Nav2a .bar5{
        transform:translateX(564px)translateY(-11px) rotate(-45deg);
    }
    #Nav5a .bar4{
        transform:translateX(560px)translateY(-10px)rotate(45deg);
    }
    #Nav5a .bar5{
        transform:translateX(564px)translateY(-11px) rotate(-45deg);
    }
    .content2{
        height: 236px;
        width:90vw;
        flex-direction: column;
    }
    .content3{
        height: 160px;
        width:90vw;
        flex-direction: column;
    }

}
@media screen and (max-width:650px) and (min-width:550px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }
    #Nav2a .bar4{
        transform:translateX(460px)translateY(-10px)rotate(45deg);
    }
    #Nav2a .bar5{
        transform:translateX(464px)translateY(-11px) rotate(-45deg);
    }
    #Nav5a .bar4{
        transform:translateX(460px)translateY(-10px)rotate(45deg);
    }
    #Nav5a .bar5{
        transform:translateX(464px)translateY(-11px) rotate(-45deg);
    }
    .content2{
        height: 236px;
        width:80vw;
        flex-direction: column;
    }
    .content3{
        height: 166px;
        width:85vw;
        flex-direction: column;
    }


}
@media screen and (max-width:550px) and (min-width:420px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }
    #Nav2a .bar4{
        transform:translateX(340px)translateY(-10px)rotate(45deg);
    }
    #Nav2a .bar5{
        transform:translateX(344px)translateY(-11px) rotate(-45deg);
    }
    #Nav5a .bar4{
        transform:translateX(340px)translateY(-10px)rotate(45deg);
    }
    #Nav5a .bar5{
        transform:translateX(344px)translateY(-11px) rotate(-45deg);
    }
    #showonmedia button{
        width: 80vw;
    }
    .content2{
        height: 236px;
        width:80vw;
        flex-direction: column;
    }
    .content3{
        height: 166px;
        width:80vw;
        flex-direction: column;
    }

}
@media screen and (max-width:420px) and (min-width:200px){
    #nav5{
        margin-left: 0px;
    }
    #navbar{
        gap: 0px;
    }
    #Nav2a .bar4{
        transform:translateX(100px)translateY(-10px)rotate(45deg);
    }
    #Nav2a .bar5{
        transform:translateX(104px)translateY(-11px) rotate(-45deg);
    }
    #Nav5a .bar4{
        transform:translateX(100px)translateY(-10px)rotate(45deg);
    }
    #Nav5a .bar5{
        transform:translateX(104px)translateY(-11px) rotate(-45deg);
    }
    #showonmedia button{
        width: 70vw;
    }
    #showbutton1,#showbutton2, #showbutton3, #showbutton4, #showbutton5{
        padding-left: 10px;
    }
    .content2{
        height: 236px;
        width:70vw;
        flex-direction: column;
    }
    .content3{
        height: 166px;
        width:70vw;
        flex-direction: column;
    }
    #logo img{
        height: 68px;
    width: 101px;
    }
    #move1, #move2, #move3{
        padding-left: 0px;
    }

}
@media screen and (max-width:1000px) and (min-width:0px){
#nav1, #nav2, #nav3, #nav4, #nav5, #nav6{
    display: none;
}

}




/* section1 medias */
@media screen and (max-width:1400px) and (min-width:1250px){
    #text1{
        font-size: 1.1rem;
    }
    #text2{
        font-size: 2.5rem;
    }
    #text3, #text4{
        font-size:1.1rem;
    }
}
@media screen and (max-width:1250px) and (min-width:1150px){
    #text1{
        font-size: 1.1rem;
    }
    #text2{
        font-size: 2.5rem;
    }
    #text3, #text4{
        font-size:1.1rem;
    }
    #section1{
        background-position: 0 70%;
        background-size: 41% auto;
    }
}
@media screen and (max-width:1150px) and (min-width:1050px){
    #text1{
        font-size: 1rem;
    }
    #text2{
        font-size: 2.25rem;
    }
    #text3, #text4{
        font-size:1rem;
    }
    #section1{
        background-position: 0 60%;
        background-size: 41% auto;
    }
}
@media screen and (max-width:1050px) and (min-width:1000px){
    #ta1{
        right: 1%;
    }
    #text1{
        font-size: 1rem;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 2.15rem;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:1rem;
        flex-wrap: wrap;
    }
    #section1{
        background-position: 0 50%;
        background-size: 41% auto;
    }
}
@media screen and (max-width:1000px) and (min-width:750px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 70% auto;
        margin-bottom: 590px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 8%;
        top: 100%;
        width: 92vw;
    }
    #text1{
        font-size: 1.25rem;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 2.5rem;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:1.25rem;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:750px) and (min-width:690px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 70% auto;
        margin-bottom: 490px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 8%;
        top: 100%;
        width: 87vw;
    }
    #text1{
        font-size: 1.15rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 2.25rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:1.15rem;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:690px) and (min-width:600px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 70% auto;
        margin-bottom: 400px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 8%;
        top: 90%;
        width: 87vw;
    }
    #text1{
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 2.05rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:1rem;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:600px) and (min-width:500px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 70% auto;
        margin-bottom: 350px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 8%;
        top: 90%;
        width: 87vw;
    }
    #text1{
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 1.75rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:0.8rem;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:500px) and (min-width:400px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 30%;
        background-size: 70% auto;
        margin-bottom: 330px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 8%;
        top: 70%;
        width: 87vw;
    }
    #text1{
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 1.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:0.8rem;
        display: flex;
        flex-wrap: wrap;
    }
    .text3a{
        flex-direction: column;
    }
    .text4a{
        flex-direction: column;
    }
}
@media screen and (max-width:400px) and (min-width:320px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 15%;
        background-size: 70% auto;
        margin-bottom: 300px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 8%;
        top: 50%;
        width: 87vw;
    }
    #text1{
        font-size: 0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 1.45rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    .text3a{
        flex-direction: column;
    }
    .text4a{
        flex-direction: column;
    }
}
@media screen and (max-width:320px) and (min-width:275px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 15%;
        background-size: 70% auto;
        margin-bottom: 400px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 8%;
        top: 50%;
        width: 87vw;
    }
    #text1{
        font-size: 0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 1.25rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    .text3a{
        flex-direction: column;
    }
    .text4a{
        flex-direction: column;
    }
}
@media screen and (max-width:275px) and (min-width:250px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 15%;
        background-size: 70% auto;
        margin-bottom: 550px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 3%;
        top: 50%;
        width: 87vw;
    }
    #text1{
        font-size: 0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 1.25rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    .text3a{
        flex-direction: column;
    }
    .text4a{
        flex-direction: column;
    }
}
@media screen and (max-width:250px) and (min-width:200px){
    #section1{
        background: url('images/mediaback.png');
        background-repeat: no-repeat;
        background-position: 50% 15%;
        background-size: 70% auto;
        margin-bottom: 650px;
    }
    #ta1{
        right: 1%;
        position: relative;
        display: flex;
        align-items: left;
        left: 3%;
        top: 50%;
        width: 87vw;
    }
    #text1{
        font-size: 0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text2{
        font-size: 1.25rem;
        display: flex;
        flex-wrap: wrap;
    }
    #text3, #text4{
        font-size:0.65rem;
        display: flex;
        flex-wrap: wrap;
    }
    .text3a{
        flex-direction: column;
    }
    .text4a{
        flex-direction: column;
    }
}

/* section2 medias */

@media screen and (max-width:1250px) and (min-width:1100px){
    #ta3{
        gap: 60px;
    }
}
@media screen and (max-width:1100px) and (min-width:1000px){
    #ta3{
        gap: 40px;
    }
}
@media screen and (max-width:1000px) and (min-width:950px){
    #ta3{
        gap: 20px;
    }
    .gridcontent{
        padding: 16px;
    }
}
@media screen and (max-width:950px) and (min-width:750px){
    #ta3{
        gap: 20px;
        flex-wrap: wrap;
    }
    #ta2{
        display: flex;
        flex-direction: column;
        margin-top: 350px;
    }
    .gridcontent{
        padding: 0px;
        border-bottom: 1px solid #e4e4e4;
    }
}
@media screen and (max-width:750px) and (min-width:600px){
    #section2{
        height: 130vh;
    }
    #ta3{
        gap: 20px;
        flex-wrap: wrap;
    }
    #ta2{
        display: flex;
        flex-direction: column;
        margin-top: 450px;
    }
    .gridcontent{
        padding: 0px;
        border-bottom: 1px solid #e4e4e4;
    }
}
@media screen and (max-width:600px) and (min-width:550px){
    #section2{
        height: 130vh;
    }
    #ta3{
        gap: 20px;
        flex-wrap: wrap;
    }
    #ta2{
        display: flex;
        flex-direction: column;
        margin-top: 450px;
    }
    .gridcontent{
        padding: 0px;
        border-bottom: 1px solid #e4e4e4;
    }
    #ta4 .a3{
        padding: 10px;
    }
}
@media screen and (max-width:550px) and (min-width:400px){
    #section2{
        height: 130vh;
    }
    #ta3{
        gap: 20px;
        flex-wrap: wrap;
    }
    #ta2{
        display: flex;
        flex-direction: column;
        margin-top: 450px;
    }
    .gridcontent{
        padding: 0px;
        border-bottom: 1px solid #e4e4e4;
    }
    #ta4 .a3{
        padding: 10px;
    }
    .scroll{
        width: 90vw;
        overflow-x: scroll
    }
}
@media screen and (max-width:400px) and (min-width:200px){
    #section2{
        height: 130vh;
    }
    #ta3{
        gap: 20px;
        flex-wrap: wrap;
    }
    #ta2{
        display: flex;
        flex-direction: column;
        margin-top: 450px;
    }
    .gridcontent{
        padding: 0px;
        border-bottom: 1px solid #e4e4e4;
    }
    #ta4 .a3{
        padding: 10px;
    }
    .scroll{
        width: 90vw;
        overflow-x: scroll
    }
    #header2 .h2{
        font-size: 1.1rem;
        text-align: center;
    }
    .n4 button{
        width: 140px;
        border-radius: 5px;
    }
    .n3{
        font-size: 1.1rem;
    }
    .n2{
        font-size: 1.1rem;
    }
    .s2a, .r2a, .o2a, .p2a{
        font-size: 0.7rem;
    }
    .s1a3, .r1a3, .o1a3, .p1a3 {
        font-size: 0.5rem;
    }
    .s1a, .r1a, .o1a, .p1a {
        flex-direction: column;
    }
    .s1, .r1, .o1, .p1 {
        padding: 0px;
    }
    .s1a2, .r1a2, .o1a2, .p1a2 {
        padding: 0px;
        height: 1px;
        width: 14px;
    }
    
}

/* section3 media  */

@media screen and (max-width:1450px) and (min-width:1400px){
    #r{
        gap: 20px;
    }
}
@media screen and (max-width:1400px) and (min-width:1370px){
    #r{
        gap: 20px;
    }
    #product1{
        width: 72vw;
    }
    #products .b2{
        height: 44vh;
        width: 35vw;
        
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
 
}
@media screen and (max-width:1370px) and (min-width:1350px){
    #r{
        gap: 20px;
    }
    #product1{
        width: 82vw;
    }
    #products .b2{
        height: 44vh;
        width: 40vw;
        
    }
    .o2{
        width: 200px;
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
}
@media screen and (max-width:1350px) and (min-width:950px){
    #section3{
        height: 300vh ;
        margin-top: 100px;
    }
    #section2{
        margin-bottom: 100px;
    }
    #r{
        gap: 20px;
    }
    #product1{
        width: 82vw;
    }
    #products .b2{
        height: 44vh;
        width: 82vw;
        
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
    #products{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:950px) and (min-width:700px){
    #section3{
        height: 300vh ;
        margin-top: 550px;
    }
    #r{
        gap: 20px;
    }
    #product1{
        width: 82vw;
    }
    #products .b2{
        height: 44vh;
        width: 82vw;
        
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
    #products{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:700px) and (min-width:530px){
    #section3{
        height: 300vh ;
        margin-top: 500px;
    }
    #r{
        gap: 20px;
    }
    #product1{
        width: 82vw;
    }
    #products .b2{
        height: 40vh;
        width: 82vw;
        
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
    #products{
        display: flex;
        flex-direction: column;
    }
    .o2, .p2, .s2, .r2{
        display: none;
    }
}
@media screen and (max-width:530px) and (min-width:380px){
    #section3{
        height: 300vh ;
        margin-top: 600px;
    }
    #header .bar8{
        width: 20vw;
}
    #r{
        gap: 20px;
    }
    #product1{
        width: 82vw;
    }
    #products .b2{
        height: 40vh;
        width: 82vw;
        
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
    #products{
        display: flex;
        flex-direction: column;
    }
    .o2, .p2, .s2, .r2{
        display: none;
    }
}
@media screen and (max-width:380px) and (min-width:300px){
    #section3{
        height: 300vh ;
        margin-top: 700px;
    }
    #header .h1{
        font-size: 1.2rem;
    }
    #header .bar8{
        width: 20vw;
}
    #r{
        gap: 20px;
    }
    #product1{
        width: 82vw;
        height: 50vh;
    }
    #products .b2{
        height: 40vh;
        width: 82vw;
        
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
    #products{
        display: flex;
        flex-direction: column;
    }
    .o2, .p2, .s2, .r2{
        display: none;
    }
}
@media screen and (max-width:300px) and (min-width:200px){
    #section3{
        height: 300vh ;
        margin-top: 1000px;
    }
    #header .h1{
        font-size: 1.2rem;
    }
    #header .bar8{
        width: 20vw;
    }
    #n{
        padding: 20px;
    }
    #r{
        gap: 20px;
    }
    .s1a3, .r1a3, .o1a3, .p1a3{
        font-size: 1rem;
    }
    .s2a, .r2a, .o2a, .p2a{
        font-size: 1rem;
    }
    .s1, .r1, .o1, .p1{
        padding: 10px;
    }
    #product1{
        width: 82vw;
        height: 50vh;
    }
    #products .b2{
        height: 40vh;
        width: 82vw;
        
    }
    #o, #p, #r, #s{
        gap: 30px;
    }
    #products{
        display: flex;
        flex-direction: column;
    }
    .o2, .p2, .s2, .r2{
        display: none;
    }
}
@media screen and (max-width:450px) and (min-width:300px){
    #header2 .h2{
        font-size: 1rem;
        text-align: center;
    }
}
@media screen and (max-width:1400px) and (min-width:1300px){
    #companies{
        gap: 50vw;
    }
}
@media screen and (max-width:1300px) and (min-width:1200px){
    #companies{
        gap: 65vw;
    }
}
@media screen and (max-width:1200px) and (min-width:1100px){
    #companies{
        gap: 85vw;
    }
}
@media screen and (max-width:1100px) and (min-width:1000px){
    #companies{
        gap: 105vw;
    }
}
@media screen and (max-width:1000px) and (min-width:900px){
    #companies{
        gap: 125vw;
    }
}
@media screen and (max-width:900px) and (min-width:800px){
    #companies{
        gap: 145vw;
    }
}
@media screen and (max-width:800px) and (min-width:700px){
    #companies{
        gap: 165vw;
    }
}
@media screen and (max-width:700px) and (min-width:600px){
    #companies{
        gap: 185vw;
    }
}
@media screen and (max-width:600px) and (min-width:500px){
    #companies{
        gap: 205vw;
    }
}
@media screen and (max-width:500px) and (min-width:400px){
    #companies{
        gap: 225vw;
    }
}
@media screen and (max-width:400px) and (min-width:300px){
    #companies{
        gap: 245
}
}

/* section4 media  */

@media screen and (max-width:1000px) and (min-width:750px){
    #section4{
        height: 125vh;
    }
    #ta5{
        margin-left: 200px;
    }
}
@media screen and (max-width:750px) and (min-width:650px){
    #section4{
        height: 140vh;
    }
    .c{
        gap: 10px;
    }
    #ta5{
        margin-left: 150px;
    }
}
@media screen and (max-width:650px) and (min-width:520px){
    #section4{
        height: 200vh;
    }
    .c{
        gap: 10px;
    }
    #ta5{
        /* grid-template-rows: repeat(6, 2fr);
        grid-template-columns: auto; */
        display: flex;
        flex-direction: column;
        width: 84vw;
        margin-left: 0;
    }
}
@media screen and (max-width:520px) and (min-width:450px){
    #section4{
        height: 210vh;
    }
    .c{
        gap: 10px;
    }
    #ta5{
        /* grid-template-rows: repeat(6, 2fr);
        grid-template-columns: auto; */
        display: flex;
        flex-direction: column;
        width: 84vw;
        margin-left: 0;
    }
}
@media screen and (max-width:450px) and (min-width:380px){
    #section4{
        height: 230vh;
    }
    .c{
        gap: 10px;
    }
    #ta5{
        /* grid-template-rows: repeat(6, 2fr);
        grid-template-columns: auto; */
        display: flex;
        flex-direction: column;
        width: 84vw;
        margin-left: 0;
    }
}
@media screen and (max-width:380px) and (min-width:250px){
    #section4{
        height: 250vh;
    }
    .c{
        gap: 10px;
    }
    #ta5{
        /* grid-template-rows: repeat(6, 2fr);
        grid-template-columns: auto; */
        display: flex;
        flex-direction: column;
        width: 84vw;
        margin-left: 0;
    }
}
@media screen and (max-width:250px) and (min-width:200px){
    #section4{
        height: 300vh;
    }
    .c{
        gap: 10px;
    }
    #ta5{
        /* grid-template-rows: repeat(6, 2fr);
        grid-template-columns: auto; */
        display: flex;
        flex-direction: column;
        width: 84vw;
        margin-left: 0;
    }
    #header3 .h1{
        font-size: 1rem;
    }
    #header3{
        gap: 5px;
    }
    #header3 .bar8{
        width: 14px;
    }
}

/* section5 media  */

@media screen and (max-width:375px) and (min-width:300px){
    .d1{
        font-size: 1.5rem;
    }
    .d2{
        font-size: 1rem;
    }
    .button1{
        height: 36px;
        width: 158px;
    }
    .button2{
        height: 36px;
    }
}
@media screen and (max-width:300px) and (min-width:250px){
    .d1{
        font-size: 1.25rem;
    }
    .d2{
        font-size: 0.9rem;
    }
    .button1{
        height: 36px;
        width: 108px;
    }
    .button2{
        height: 36px;
    }
}
@media screen and (max-width:250px) and (min-width:200px){
    .d1{
        font-size: 1.15rem;
    }
    .d2{
        font-size: 0.8rem;
    }
    .button1{
        height: 36px;
        width: 88px;
        font-size: 0.5rem;
    }
    .d{
        gap: 15px;
    }
    .d3{
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }
    .button2{
        height: 36px;
        width: 88px;
        font-size: 0.5rem;
    }
    #ta6{
        margin-top: 100px;
    }
}

/* section6 media  */
@media screen and (max-width:1000px) and (min-width:200px){
    #section6{
        justify-content: center;
    }
    #ta7{
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        padding: 0 25px 0 25px
    }
    #e, #f, #g{
        align-items: center;
        gap: 10px;
        padding: 20px 0 20px 0;
    }
    .e2, .f2, .g2{
        text-align: center;
        padding: 20px 0 20px 0;
    }
}

/* section7 media  */
@media screen and (max-width:800px) and (min-width:400px){
    #section7{
        height: 80vh;
    }
    #ta8{
        grid-template-columns: auto;
        gap: 30px;
    }
    .h{
        flex-direction: row;
        justify-content: space-between;
    }
    #general{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2,auto);
        gap: 20px;
    }

}
@media screen and (max-width:400px) and (min-width:270px){
    #section7{
        height: 70vh;
    }
    #ta8{
        grid-template-columns: auto;
        gap: 20px;
        padding: 10px;
        padding-top: 30px;
    }
    .h{
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
    #general{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2,auto);
        gap: 5px;
    }
}
@media screen and (max-width:270px) and (min-width:200px){
    #section7{
        height: 70vh;
    }
    #ta8{
        grid-template-columns: auto;
        gap: 0px;
        padding: 0;
        padding-top: 30px;
    }
    .h{
        flex-direction: row;
        justify-content: space-between;
        gap: 2px;
    }
    #general{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2,auto);
        gap: 0px;
    }
    .i1, .j1, .l1, .m1 {
        font-size: 0.75rem;
    }
    .list {
    line-height: 1.6rem;
    font-size: 0.64rem;
    }
    .h4{
        width: 140px;
    }
    .h5{
        gap: 5px;
    }
}
